In [1]:
#import libraries
import pandas as pd
import requests
from sqlalchemy import create_engine

In [2]:
#read in data
base_url = 'https://data.lacity.org/resource/2nrs-mtv8.json'
params = {
    '$limit': 1000  # Limit to 1000 records per request
}
total_records = 1000000
iterations = int(total_records/1000)

In [3]:
#set empty array for all data
all_records = []
for i in range(iterations):
    offset = i * 1000
    params['$offset'] = offset
    response = requests.get(base_url,params=params)
    data=response.json()
    all_records.extend(data)
    if i % 100 == 0:
        print(i)

0
100
200
300
400
500
600
700
800
900

In [5]:
df = pd.DataFrame(all_records)
df.head()

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,...,crm_cd_2,location,lat,lon,mocodes,weapon_used_cd,weapon_desc,cross_street,crm_cd_3,crm_cd_4
0,190326475,2020-03-01T00:00:00.000,2020-03-01T00:00:00.000,2130,07,Wilshire,0784,1,510,VEHICLE - STOLEN,...,998,1900 S LONGWOOD AV,34.0375,-118.3506,NaN,NaN,NaN,NaN,NaN,NaN
1,200106753,2020-02-09T00:00:00.000,2020-02-08T00:00:00.000,1800,01,Central,0182,1,330,BURGLARY FROM VEHICLE,...,998,1000 S FLOWER ST,34.0444,-118.2628,1822 1402 0344,NaN,NaN,NaN,NaN,NaN
2,200320258,2020-11-11T00:00:00.000,2020-11-04T00:00:00.000,1700,03,Southwest,0356,1,480,BIKE - STOLEN,...,NaN,1400 W 37TH ST,34.021,-118.3002,0344 1251,NaN,NaN,NaN,NaN,NaN
3,200907217,2023-05-10T00:00:00.000,2020-03-10T00:00:00.000,2037,09,Van Nuys,0964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,NaN,14000 RIVERSIDE DR,34.1576,-118.4387,0325 1501,NaN,NaN,NaN,NaN,NaN
4,220614831,2022-08-18T00:00:00.000,2020-08-17T00:00:00.000,1200,06,Hollywood,0666,2,354,THEFT OF IDENTITY,...,NaN,1900 TRANSIENT,34.0944,-118.3277,1822 1501 0930 2004,NaN,NaN,NaN,NaN,NaN

In [6]:
#check length of df
len(df)

944235

In [7]:
df.columns

Index(['dr_no', 'date_rptd', 'date_occ', 'time_occ', 'area', 'area_name',
       'rpt_dist_no', 'part_1_2', 'crm_cd', 'crm_cd_desc', 'vict_age',
       'vict_sex', 'vict_descent', 'premis_cd', 'premis_desc', 'status',
       'status_desc', 'crm_cd_1', 'crm_cd_2', 'location', 'lat', 'lon',
       'mocodes', 'weapon_used_cd', 'weapon_desc', 'cross_street', 'crm_cd_3',
       'crm_cd_4'],
      dtype='object')

In [8]:
#rename columns
df = df.rename(columns={'dr_no':'id', 'date_rptd':'dt_reported', 'date_occ':'dt_occurred', 'rpt_dist_no':'district_code', 'crm_cd':'crime_code', 'crm_cd_desc':'crime_description',
                   'premis_cd':'premise_code', 'premis_desc':'premise_description'})

In [9]:
#check new column names
df.columns

Index(['id', 'dt_reported', 'dt_occurred', 'time_occ', 'area', 'area_name',
       'district_code', 'part_1_2', 'crime_code', 'crime_description',
       'vict_age', 'vict_sex', 'vict_descent', 'premise_code',
       'premise_description', 'status', 'status_desc', 'crm_cd_1', 'crm_cd_2',
       'location', 'lat', 'lon', 'mocodes', 'weapon_used_cd', 'weapon_desc',
       'cross_street', 'crm_cd_3', 'crm_cd_4'],
      dtype='object')

In [10]:
#check data types
df.dtypes

id                     object
dt_reported            object
dt_occurred            object
time_occ               object
area                   object
area_name              object
district_code          object
part_1_2               object
crime_code             object
crime_description      object
vict_age               object
vict_sex               object
vict_descent           object
premise_code           object
premise_description    object
status                 object
status_desc            object
crm_cd_1               object
crm_cd_2               object
location               object
lat                    object
lon                    object
mocodes                object
weapon_used_cd         object
weapon_desc            object
cross_street           object
crm_cd_3               object
crm_cd_4               object
dtype: object

# This is where we stopped - to figure out time occur data type. please use copy_df instead of df

In [14]:
#combine dt_occurred and time_occurred
df['dt_occurred'] = pd.to_datetime(df['dt_occurred'])
df['time_occ'] = df['time_occ'].apply(lambda x: str(x).zfill(4))
df['dt_occurred_combined'] = pd.to_datetime(df['dt_occurred'].dt.date.astype(str) + ' ' + df['time_occ'], errors='coerce')
df.head()

,id,dt_reported,dt_occurred,time_occ,area,area_name,district_code,part_1_2,crime_code,crime_description,...,location,lat,lon,mocodes,weapon_used_cd,weapon_desc,cross_street,crm_cd_3,crm_cd_4,dt_occurred_combined
0,190326475,2020-03-01T00:00:00.000,2020-03-01,2130,07,Wilshire,0784,1,510,VEHICLE - STOLEN,...,1900 S LONGWOOD AV,34.0375,-118.3506,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-01 21:30:00
1,200106753,2020-02-09T00:00:00.000,2020-02-08,1800,01,Central,0182,1,330,BURGLARY FROM VEHICLE,...,1000 S FLOWER ST,34.0444,-118.2628,1822 1402 0344,NaN,NaN,NaN,NaN,NaN,2020-02-08 18:00:00
2,200320258,2020-11-11T00:00:00.000,2020-11-04,1700,03,Southwest,0356,1,480,BIKE - STOLEN,...,1400 W 37TH ST,34.021,-118.3002,0344 1251,NaN,NaN,NaN,NaN,NaN,2020-11-04 17:00:00
3,200907217,2023-05-10T00:00:00.000,2020-03-10,2037,09,Van Nuys,0964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,14000 RIVERSIDE DR,34.1576,-118.4387,0325 1501,NaN,NaN,NaN,NaN,NaN,2020-03-10 20:37:00
4,220614831,2022-08-18T00:00:00.000,2020-08-17,1200,06,Hollywood,0666,2,354,THEFT OF IDENTITY,...,1900 TRANSIENT,34.0944,-118.3277,1822 1501 0930 2004,NaN,NaN,NaN,NaN,NaN,2020-08-17 12:00:00

In [15]:
df.columns

Index(['id', 'dt_reported', 'dt_occurred', 'time_occ', 'area', 'area_name',
       'district_code', 'part_1_2', 'crime_code', 'crime_description',
       'vict_age', 'vict_sex', 'vict_descent', 'premise_code',
       'premise_description', 'status', 'status_desc', 'crm_cd_1', 'crm_cd_2',
       'location', 'lat', 'lon', 'mocodes', 'weapon_used_cd', 'weapon_desc',
       'cross_street', 'crm_cd_3', 'crm_cd_4', 'dt_occurred_combined'],
      dtype='object')

In [23]:
#move dt_occurred_combined to front
df = df[['id', 'dt_reported', 'dt_occurred', 'time_occ', 'dt_occurred_combined', 'area', 'area_name','district_code', 'part_1_2', 'crime_code', 'crime_description','vict_age', 
'vict_sex', 'vict_descent', 'premise_code', 'premise_description', 'status', 'status_desc', 'crm_cd_1', 'crm_cd_2','location', 'lat', 'lon', 'mocodes', 'weapon_used_cd', 'weapon_desc',
'cross_street', 'crm_cd_3', 'crm_cd_4']]

In [24]:
#fill na w/ 0
df = df.fillna(0)

In [25]:
#change data type of integers
#id, area, district_code, part_1_2, crime_code, mocodes, vict_age, premise code, weapon used code, crm_cd_1, crm_cd_2, crm_cd_3, crm_cd_4, lat, lon
df[['id', 'area', 'district_code', 'part_1_2', 'crime_code', 'vict_age', 'premise_code', 'weapon_used_cd', 'crm_cd_1', 'crm_cd_2', 'crm_cd_3', 'crm_cd_4']]= df[['id', 'area', 'district_code', 'part_1_2', 'crime_code', 'vict_age', 'premise_code', 'weapon_used_cd', 'crm_cd_1', 'crm_cd_2', 'crm_cd_3', 'crm_cd_4']].astype('int64')

In [26]:
#change data type of lat lon
df[['lat', 'lon']] = df[['lat', 'lon']].astype('float')

In [27]:
#check data types
df.dtypes

id                               int64
dt_reported                     object
dt_occurred             datetime64[ns]
time_occ                        object
dt_occurred_combined    datetime64[ns]
area                             int64
area_name                       object
district_code                    int64
part_1_2                         int64
crime_code                       int64
crime_description               object
vict_age                         int64
vict_sex                        object
vict_descent                    object
premise_code                     int64
premise_description             object
status                          object
status_desc                     object
crm_cd_1                         int64
crm_cd_2                         int64
location                        object
lat                            float64
lon                            float64
mocodes                         object
weapon_used_cd                   int64
weapon_desc                     object
cross_street                    object
crm_cd_3                         int64
crm_cd_4                         int64
dtype: object

In [29]:
df.head(20)

,id,dt_reported,dt_occurred,time_occ,dt_occurred_combined,area,area_name,district_code,part_1_2,crime_code,...,crm_cd_2,location,lat,lon,mocodes,weapon_used_cd,weapon_desc,cross_street,crm_cd_3,crm_cd_4
0,190326475,2020-03-01T00:00:00.000,2020-03-01,2130,2020-03-01 21:30:00,7,Wilshire,784,1,510,...,998,1900 S LONGWOOD AV,34.0375,-118.3506,0,0,0,0,0,0
1,200106753,2020-02-09T00:00:00.000,2020-02-08,1800,2020-02-08 18:00:00,1,Central,182,1,330,...,998,1000 S FLOWER ST,34.0444,-118.2628,1822 1402 0344,0,0,0,0,0
2,200320258,2020-11-11T00:00:00.000,2020-11-04,1700,2020-11-04 17:00:00,3,Southwest,356,1,480,...,0,1400 W 37TH ST,34.0210,-118.3002,0344 1251,0,0,0,0,0
3,200907217,2023-05-10T00:00:00.000,2020-03-10,2037,2020-03-10 20:37:00,9,Van Nuys,964,1,343,...,0,14000 RIVERSIDE DR,34.1576,-118.4387,0325 1501,0,0,0,0,0
4,220614831,2022-08-18T00:00:00.000,2020-08-17,1200,2020-08-17 12:00:00,6,Hollywood,666,2,354,...,0,1900 TRANSIENT,34.0944,-118.3277,1822 1501 0930 2004,0,0,0,0,0
5,231808869,2023-04-04T00:00:00.000,2020-12-01,2300,2020-12-01 23:00:00,18,Southeast,1826,2,354,...,0,9900 COMPTON AV,33.9467,-118.2463,1822 0100 0930 0929,0,0,0,0,0
6,230110144,2023-04-04T00:00:00.000,2020-07-03,0900,2020-07-03 09:00:00,1,Central,182,2,354,...,0,1100 S GRAND AV,34.0415,-118.2620,0930 0929,0,0,0,0,0
7,220314085,2022-07-22T00:00:00.000,2020-05-12,1110,2020-05-12 11:10:00,3,Southwest,303,2,354,...,0,2500 S SYCAMORE AV,34.0335,-118.3537,0100,0,0,0,0,0
8,231309864,2023-04-28T00:00:00.000,2020-12-09,1400,2020-12-09 14:00:00,13,Newton,1375,2,354,...,0,1300 E 57TH ST,33.9911,-118.2521,0100,0,0,0,0,0
9,211904005,2020-12-31T00:00:00.000,2020-12-31,1220,2020-12-31 12:20:00,19,Mission,1974,2,624,...,0,9000 CEDROS AV,34.2336,-118.4535,0416,400,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",0,0,0
10,221804943,2022-01-21T00:00:00.000,2020-07-01,1335,2020-07-01 13:35:00,18,Southeast,1822,2,354,...,0,100 W COLDEN AV,33.9492,-118.2739,1822 0930,0,0,0,0,0
11,221908151,2022-04-12T00:00:00.000,2020-10-01,0001,2020-10-01 00:01:00,19,Mission,1988,1,821,...,821,13400 RANGOON ST,34.2285,-118.4258,0913 2024 1817 0360 1258 0507,400,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",0,0,0
12,230204214,2023-01-05T00:00:00.000,2020-02-01,0800,2020-02-01 08:00:00,2,Rampart,201,2,812,...,860,900 N MARIPOSA AV,34.0868,-118.2991,1251 1258 0913 0400 0500 0522 1817,400,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",0,0,0
13,221008844,2022-05-06T00:00:00.000,2020-11-01,0130,2020-11-01 01:30:00,10,West Valley,1029,1,510,...,0,VALJEAN ST,34.1939,-118.4859,0,0,0,VANOWEN AV,0,0
14,230207571,2023-03-16T00:00:00.000,2020-01-01,1500,2020-01-01 15:00:00,2,Rampart,271,2,810,...,0,900 S LAKE ST,34.0539,-118.2799,2000 1251 1259 0522 0507 0913,0,0,0,0,0
15,230312288,2023-06-01T00:00:00.000,2020-02-02,0315,2020-02-02 03:15:00,3,Southwest,391,2,354,...,0,4200 SANTO TOMAS DR,34.0103,-118.3456,0100 0928 0929 0935 1822,0,0,0,0,0
16,231805781,2023-02-03T00:00:00.000,2020-07-01,0805,2020-07-01 08:05:00,18,Southeast,1802,2,354,...,0,400 W 90TH ST,33.9551,-118.2814,0928 1822,0,0,0,0,0
17,231322474,2023-12-24T00:00:00.000,2020-01-09,1200,2020-01-09 12:00:00,13,Newton,1354,2,354,...,0,4000 WALL ST,34.0112,-118.2716,0100,0,0,0,0,0
18,210705560,2020-11-27T00:00:00.000,2020-11-27,1800,2020-11-27 18:00:00,7,Wilshire,776,1,230,...,0,4500 LOMITA ST,34.0452,-118.3351,1309 0400,307,VEHICLE,0,0,0
19,221016258,2022-09-20T00:00:00.000,2020-01-01,0001,2020-01-01 00:01:00,10,West Valley,1067,2,956,...,0,5200 GENESTA AV,34.1660,-118.5033,2041 1906 1822,0,0,0,0,0

In [37]:
engine = create_engine('postgresql://:postgres@localhost:5432/la_crimes_db.db')
conn = engine.connect()
df.to_sql('crimes_table', con=conn)
conn.close()

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "belindaho"

(Background on this error at: https://sqlalche.me/e/14/e3q8)